{% extends "common.html" %}
{% block title %}
Login - {{super()}}
{% endblock %}
{% block content %}
<div class="background-cover">
    {{super()}}
    <div class="pt-5 container formS text-center">
        <div class="row">
            <div class="col-12 col-sm-10 col-md-8 m-auto fadeInDown animated">
                <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
                <p class="h4 mb-4">Login</p>
                <form class="FormS" method="POST" autocomplete="on">
                    {{form.hidden_tag()}}
                    {% for field in form %}
                    {% if field.type != 'CSRFTokenField' and field.type!='SubmitField' %}
                    <div class="form-group">
                        {{ field(class='form-control') }}
                    </div>
                    {% for error in field.errors %}
                    <div class="invalid mt-0 mb-3"> {{ error }} </div>
                    {% endfor %}
                    {% endif %}
                    {% endfor %}
                    {{ form.submit(class='form-control btn btn-light')}}
                </form>
                <p class="mt-3">Not a member?
                    <a href="{{ url_for('signup')}}">Register</a>
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}